# Ignore the _do_not_use, Dockerfiles, images, prometheus, target folders (except the jibber native executable)
_unused_files
Dockerfiles
images
prometheus
target
!target/jibber

#Ignoring git, mvn, cache folders
.git
.mvn
.cache
**/.DS_Store

#Ignoring the .dockerignore, .gitignore and LICENSE files
.dockerignore
.gitignore
LICENSE

#Ignoring all the markdown, shell scripts, yml and class files
*.md
*.sh
*.cmd
*.yml
**/*.class