# Ignore folders: _do_not_use, devops-build-spec, Dockerfiles, images, oke-manifests, prometheus, scripts, and target (except the jibber native executable)
_unused_files
devops-build-spec
Dockerfiles
images
oke-manifests
prometheus
scripts
target
!target/jibber

# Ignore folders: git, mvn, cache
.git
.mvn
.cache
**/.DS_Store

# Ignore files: .dockerignore, .gitignore and LICENSE
.dockerignore
.gitignore
LICENSE

# Ignore all the markdown, shell scripts, yml and class files
*.md
*.sh
*.cmd
*.yml
**/*.class